<div class="nested-fields">
  <div class="form-group field">
    <%= f.label :hospitalization_reason, class: "sr-only" %>
    <%= f.text_field :hospitalization_reason, class: "form-control hospitalization-nested", placeholder: "Reason for Hospitalization"  %>
  </div>
  <div class="form-group field">
    <%= f.label :year, "Date of Hospitalization:", class: "label-margin" %>
    <%= f.select :year, (Date.current.year - 50)...(Date.current.year + 1), {:prompt => 'Year' }, class: "form-control" %>
  </div>
  <div class="form-group field"> 
    <%= link_to_remove_association "Remove Hospitalization", f, class: "btn btn-danger btn-xs remove-nested" %>
  </div>
</div>