<div class="nested-fields row">
  <div class="form-group field col-sm-12 col-md-4 col-lg-6">
    <%= f.label :surgical_procedure %>
    <%= f.text_field :surgical_procedure, class: "form-control", placeholder: "Procedure"  %>
  </div>
  <div class="form-group field col-sm-12 col-md-4 col-lg-2">
    <%= f.label :year, "Year of Procedure:" %>
    <%= f.select :year, (Date.current.year - 50)...(Date.current.year + 1), {:prompt => 'Year' }, class: "form-control" %>
  </div>
  <div class="form-group field col-sm-12 col-md-4 col-lg-4"> 
    <%= link_to_remove_association "Remove Surgery", f, class: "btn btn-danger btn-xs remove-nested" %>
  </div>
</div>