<div class="container">
  <div class="static-wrapper">
    <h2 class="static-header">About Laura</h2>
    <%= image_tag "laura-mountain-portrait.jpeg", class:"laura-about-img"%>
    <p class="static-page-paragraph">Laura Zanieski was born and raised in Pennsylvania, with fond memories
      of the four distinct seasons, lightning bugs, and thunder storms.  She specifically came to
      the Pacific Northwest to study at Bastyr University.  While there she became so enchanted with
      Seattle and the surrounding area that she stayed to create a new life as she embarked on her
      second career.</p>
    <p class="static-page-paragraph">Receiving her B.S. in psychology from Allegheny College, Laura
      adored her first career as milieu therapist working with children at Western
      Psychiatric in Pittsburgh.  In the 8 years that she was there she became enthralled
      with herbal medicine and alternative therapies.  She choose to study Oriental
      Medicine because it offered the unique opportunity to combine the physical work
      of acupuncture, the depth of knowledge of the sometimes mysterious body, the
      brilliance of plant medicine, and even the nuances of spirit.  She obtained her
      M.S. in Acupuncture and Oriental Medicine in 2003.  She also completed a certificate
      program of herbal studies in Shanghai Univesity of Chinese Medicine with additional
      training in tuina (Chinese Massage).  During her time at Bastyr, Laura also
      completed an accelerated program of study from Brenneke School of Massage.
      She feels privileged to have the opportunity spend time with her patients, getting
      to know their story, unraveling the mysteries and challenges that bring them
      to her table, and creating a supportive environment for healing.</p>
    <p class="static-page-paragraph">Laura also enjoys a side career teaching yoga and Pilates.
      She started teaching at the same time that she began her acupuncture practice.
      Her yoga/Pilates knowledge along with her massage training and coupled with her
      psych experience gives her a unique perspective on being able to “read” her
      patients and to provide comprehensive treatment as well as health education.</p>
    <p class="static-page-paragraph">Laura lives in West Seattle.  She cherishes hiking, yoga and
      aerial yoga, cooking, and precious time with family and friends.  She feels that
      gives her harmony to bring to her patients.</p>
  </div>
</div>






