<div class="container">
  <div class="static-wrapper">
    <h2 class="static-header">Guiding Principles of Acupuncture</h2>
    <blockquote class="static-page-quote">
      <p class="static-page-paragraph">“My mission in life is not merely to survive,
        but to thrive, and to do so with some passion, some compassion, some humor,
        and some style.”</p>
      <footer>Maya Angelou</footer>
    </blockquote>
    <p class="static-page-paragraph">The most common question that acupuncturist hears
      when someone finds out that is what you do for a living is:  What is acupuncture
      good for?  Then comes the list we might provide:  pain in the body, digestive issues,
      insomnia/sleep issues, infertility, decreased energy, anxiety, low mood, morning
      sickness, asthma, allergies, common cold, pre- and post- surgery for improved/faster
      healing, to avoid surgeries, create a sense of inner calm, to decrease side effects
      of other treatments like chemo, and so much more.</p>
      <p class="static-page-paragraph">The question is then generally followed up with the statement that they
      have nothing wrong with them, but that they are simply curious.
      This sparks a conversation about the Yellow emperors
      Cannon wherein there is a discussion about what to charge for acupuncture.
      The emperors reply is that patients will pay you as long as they feel good.
      If there arises and imbalance that causes them discomfort or illness, then they
      will be treated without charge until the imbalance is corrected.  The idea here is
      that acupuncture is meant to be utilized as a prophylactic treatment.  One is
      meant to use acupuncture to create balance in their lives just like good food,
      exercise, and proper sleep are meant to do.</p>
    <p class="static-page-paragraph">Acupuncture is meant to create balance in the body
      so that it can heal itself.  The Acupuncture “prescription” of points are there
      to balance the constitution of the patient as well as the presenting symptoms,
      if there are any.  These points communicate with each other about how to get into
      the body to affect a change.  Acupuncture also creates balance emotionally and
      spiritually…there are points for both on the body.  So in a nutshell, acupuncture
      creates balance for body, mind and spirit.  Having that balance results in a
      resilient healthfulness that allows you to meet the demands of life:  environmental,
      physical, emotional, mental stressors.  The balance that acupuncturists strive for
      is a balance of qi, the vitality of the body.</p>
  </div>
</div>