<div class="container">
  <div class="static-wrapper">
    <h2 class="static-header">My Approach</h2>
    <blockquote class="static-page-quote">
      <p class="static-page-paragraph">“The human body is the best work of art.”</p>
      <footer>Jess C. Scott</footer>
    </blockquote>
    <p class="static-page-paragraph">I approach acupuncture with passion.  I routinely
      say that I am blessed to have the best jobs in the world.  (I also teach yoga.)
      I get the great opportunity to heal people every day.  And I am blessed to observe
      the awesome puzzle of the body.  I am driven by the art of my work.  I get excited
      to look and the body and see where its needs rebalancing.  I love to interact with
      my patients, listen to them talk, observe their behaviors to understand what I can
      do to make a shift in their bodies and minds.  I was so drawn to acupuncture because
      it has within its practice the ability to heal both the body and the mind and the spirit.</p>
  </div>
</div>






