<div class="container-fluid" id="homepage-bg-image">
  <div class="row">
    <div class="col-xs-12	col-sm-12	col-md-12	col-lg-12 hero-text">
      <h2>Laura Zanieski <br /> Acupuncture and Chinese Herbal Therapy</h2>
      <p><a class="btn btn-lg appointment-button" href="#" role="button" data-toggle="modal" data-target="#contactModal">Make an Appointment</a></p>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-appointment-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="contactModalLabel">Make an Appointment Today!</h3>
      </div>
      <div class="modal-body modal-appointment-body">
      <h2>Please call<a href="tel:8788675309"> 878-867-5309</h2></a>
      <h2>to schedule an appointment.</h2>
      </div>
      <div class="modal-footer modal-appointment-footer">
        <button type="button" class="btn appointment-modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-hero">
  <div class="row">
    <div class="col-xs-12	col-sm-4 col-md-4	col-lg-4">
      <h3>Acupuncture</h3>
    </div>
    <div class="col-xs-12	col-sm-4 col-md-4	col-lg-4">
      <h3>Herbal Medicine</h3>
    </div>
    <div class="col-xs-12	col-sm-4 col-md-4	col-lg-4">
      <h3>Tui Na</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12	col-sm-12 col-md-12	col-lg-12 pitch-text">
    <p>With over a decade of experience as an Acupuncturist and Chinese Herbal Therapist, I have helped countless
    patients achieve their wellness goals and overcome disorders.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12	col-sm-4 col-md-4	col-lg-4 center-icon">
      <i class="fa fa-pagelines"></i>
      <h4>Relieve Pain</h4>
      <p>Alleviate digestive issues, allergies, and asthma.</p>
    </div>
    <div class="col-xs-12	col-sm-4 col-md-4	col-lg-4 center-icon">
      <i class="fa fa-heart"></i>
      <h4>Decrease Stress</h4>
      <p>Treatments help relax your mind, spirit, and body.</p>
    </div>
    <div class="col-xs-12	col-sm-4 col-md-4	col-lg-4 center-icon">
      <i class="fa fa-sun-o"></i>
      <h4>Maintain Wellness</h4>
      <p>Address sexual dysfunction, emotional issues, and addictions.</p>
    </div>
  </div>
</div>
