<div class="container">
  <div class="row">
    <div class="col-xs-12	col-sm-12	col-md-12	col-lg-12 jumbotron">
       <p><a class="btn btn-lg appointment-button" href="#" role="button">Make an Appointment</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12	col-sm-4 col-md-4	col-lg-4 center-icon">
      <i class="fa fa-pagelines"></i>
      <h4>Relieve Stress</h4>
      <p>Treatments can help relax your mind, spirit, and body.</p>
    </div>
    <div class="col-xs-12	col-sm-4 col-md-4	col-lg-4 center-icon">
      <i class="fa fa-heart"></i>
      <h4>Treat Addiction</h4>
      <p>Treatments can help you overcome addictions.</p>
    </div>
    <div class="col-xs-12	col-sm-4 col-md-4	col-lg-4 center-icon">
      <i class="fa fa-sun-o"></i>
      <h4>Heal Injuries</h4>
      <p>Treatments can help heal muscle aches, pulls, and strains.</p>
    </div>
  </div>
</div>
