<% content_for :head do %>
  <title>Laura Zanieski Acupuncture Rates</title>
  <meta name="description" content="Rates are based on a client’s income so acupuncture treatments are affordable for everyone.">
<% end %>
<div class="container">
  <div class="static-wrapper">
    <h2 class="static-header">Rates</h2>
    <blockquote class="static-page-quote">
      <p class="static-page-paragraph">“Generosity is only benevolence in practice.”</p>
      <footer>Thomas Ken</footer>
    </blockquote>
    <p class="static-page-paragraph">Inspired by Confucius’ notion on benevolence, I am introducing a sliding scale.
       I feel that this is a good route to take to make treatments more accessible for all.
       There is one fee ranging from $80-$150.</p>
    <p class="static-page-paragraph">Any herbs purchased will be added onto the total for the treatment.
      Please note that the rate is chosen by the patient.  There is a sliding scale
      income guideline below for reference…it is just a reference.  If you feel that
      you cannot afford the minimum, alert me.  I am willing to work with you as I am
      committed to make acupuncture available to all.</p>
    <p class="static-page-paragraph">If you are inspired to pay above the recommended pay range, please feel free
      to do so in order to benevolently subsidize others who cannot afford the minimum. </p>
    <p class="static-page-paragraph">Note the following are only guidelines.  Certainly there are times in our lives
      when we are more financially liquid and more financially challenged.  Also, if
      you are coming for treatment with greater frequency (2+ times/month), it is
      anticipated that you might pay on the lower end of the scale.</p>
    <table class="table table-striped" id="pricing-table">
      <thead>
        <tr>
          <th>Annual Income</th>
          <th>Pay Scale</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>$0-$40,000</td>
          <td>$80-$90</td>
        </tr>
        <tr>
          <td>$40,001-$60,000</td>
          <td>$90-$110</td>
        </tr>
        <tr>
          <td>$60,001-$80,000</td>
          <td>$110-$130</td>
        </tr>
        <tr>
          <td>$80,001-$100,000</td>
          <td>$130-$150</td>
        </tr>
        <tr>
          <td>$100,000+</td>
          <td>$150+</td>
        </tr>
      </tbody>
    </table>
    <h3 class="static-header">Regularity of Treatments</h3>
    <p class="static-page-paragraph">As stated earlier, acupuncture is meant to be a prophylactic treatment.
      Ideally, one would come for treatment once or twice a month.  That said, not everyone has it in
      their budget to come on a very regular basis.  This is understandable, that is another reason why
      I provide a sliding scale.  I suggest a frequency pay scale, in that I suggest a rate on the lower
      end of the sliding scale if patients come in for 2 or more treatments a month.  This, I feel is a
      great way to instill balance for patients who are wanting regular treatments, like athletes,
      performers, singers, who rely on their bodies for optimal functionality.  It is also a way to help
      patients who are seeking frequent treatment for a period of time because of an increased need,
      maybe because of an acute injury, a surgery, or an illness.</p>
  </div>
</div>
