<div class="container">
  <div class="jumbotron">
    <% if current_user.health_history %>
      <h2>Welcome! Edit your Health History form by clicking on the link below:</h2>
      <%= link_to 'Edit Client Info', edit_health_history_path(current_user), class: "btn btn-success" %>
    <% else %>
      <h2>Welcome! Fill out a Health History form by clicking on the link below:</h2>
      <%= link_to 'Fill out Health History Form', new_health_history_path, class: "btn btn-success"  %>
    <% end %>
  </div>
</div>