@import "bootstrap-sprockets";
@import "bootswatch/lumen/variables";
@import "bootstrap";
@import "bootswatch/lumen/bootswatch";
@import "font-awesome";

@media (max-width: 768px) {
  .fa-leaf {
    color: #FF7D63;
    font-size: 30px;
    margin-right: 5px;
  }

  #biz-name {
    font-size: 18px;
    color: #444444;
    font-weight: 600;
    font-family: sans-serif;
    display: inline;
    vertical-align: 9px;
  }

  .navbar-default {
    background-color: #fff;
  }

  .hero-text {
    margin: 0 0 30px 0 !important;
    text-align: center;
  }

  .pitch-text p {
    text-align: center;
    font-weight: 500;
    color: #CFECF9;
    margin: 20px 10px;
  }

  .jumbotron-hero {
    background-color: #119ee0;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    border: none;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .center-icon {
    margin-top: 30px;
  }

  .disease-nested input {
    margin: 15px 0;
  }

  .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 769px) {

  #biz-name {
    color: #444444;
    font-size: 23px;
    font-weight: 600;
    font-family: sans-serif;
    display: inline;
    vertical-align: 9px;
  }

  .fa-leaf {
    color: #FF7D63;
    font-size: 40px;
    margin-right: 10px;
  }

  .navbar-default {
    background-color: #fff;
  }

  .navbar-default .navbar-nav > li > a {
    color: #333;
    font-size: 16px;
  }

  .navbar-default .navbar-nav > li > a:hover {
    color: #FF7D63;
  }

  ul.nav.navbar-nav.navbar-right {
    margin-top: 9px;
  }

  .jumbotron-hero {
    background-color: #119ee0;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
    border: none;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .hero-text {
    margin: 50px 0 60px 0;
    text-align: center;
  }

  .pitch-text p {
    text-align: center;
    padding: 40px 120px 10px 120px;
    font-weight: 500;
    color: #CFECF9;
  }

  .desktop-header-padding {
    padding-left: 25px;
    padding-right: 25px;
  }

  .nested-fields {
    margin-bottom: 20px;
  }

  a.btn.btn-danger.btn-xs.remove-nested {
    margin-top: 25px;
  }

  a.btn.btn-success.btn-xs.add_fields {
    margin-bottom: 30px;
  }

  .disease-nested .row {
    margin: 15px 0 0 0;
  }

  .disease-nested .col-sm-12.col-md-4.col-lg-4 {
    padding-left: 0;
  }

  .client-show {
    font-size: 15px;
    padding: 25px;
  }

  .show-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .delete-client {
    width: 80%;
    margin: 40px auto;
  }

  .index-table {
    width: 50%;
    margin: 20px auto;
  }

  .jumbotron-devise {
    width: 500px;
    margin: 0 auto;
    background-color: #F8F8F8;
  }

  .login-link {
    margin-left: -15px;
    font-size: 16px;
  }

  .welcome-text {
    font-weight: 700;
    color: #444444;
    font-size: 30px;
    margin-bottom: 40px;
  }

  .min-height-footer {
    min-height: 800px;
  }

}

@media (min-width: 768px) and (max-width: 775px) {

  .panel.panel-success {
    margin-top: 20px !important;
    width: 100%;
    margin: 0 auto;
  }

  .panel-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .button-center {
    width: 100%;
    margin: 20px auto;
  }

  .complaint-padding {
    padding-left: 29px;
  }

  #client_alcohol_type {
    width: 148px;
  }

}

@media (min-width: 768px) and (max-width: 884px) {

  .navbar-default .navbar-nav > li > a {
    font-size: 14px;
    padding-left: 7px;
    padding-right: 7px;
    color: #333;
  }
}

@media (min-width: 950px) and (max-width: 1113px) {

  .panel.panel-success {
    margin-top: 20px !important;
    width: 100%;
    margin: 0 auto;
  }

  .panel-wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .button-center {
    width: 100%;
    margin: 20px auto;
  }

  .complaint-padding {
    padding-left: 29px;
  }
}

@media (min-width: 1114px) {

  .panel.panel-success {
    width: 80%;
    margin: 0 auto;
  }

  .panel-wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .button-center {
    width: 80%;
    margin: 20px auto;
  }

  .complaint-padding {
    padding-left: 29px;
  }
}

/****** Global Styles ******/
.year, .month, .day {
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  padding: 7px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.month  {
  width: 99px;
}

.legend-subtext {
  font-size: 14px;
}

.grey-header {
  text-transform: uppercase;
  font-weight: 700;
  color: #999999;
  font-size: 17px;
}

.number-grey {
  color: #999999;
  font-weight: 700;
}

.complaint-margin {
  margin-bottom: 10px;
}

.alert {
  margin-top: 20px;
}

.alert.alert-dismissible.alert-danger h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.alert.alert-dismissible.alert-danger ol {
  width: 460px;
  margin: 0 auto;
  font-size: 16px;
}

.panel.panel-success {
    margin-top: 20px;
}

.panel label {
  color: #999999;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  display: block;
}

.fa-pagelines, .fa-heart, .fa-sun-o {
  font-size: 80px;
  vertical-align: middle;
}

.fa-pagelines {
  color: #4ECE97;
}

.fa-heart {
  color: #F47B64;
}

.fa-sun-o {
  color: #FFD17B;
}

.center-icon {
  text-align: center;
}

.center-icon h4 {
  color: #555;
  font-weight: bold;
}

.center-icon p {
  font-size: 16px;
  width: 75%;
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.appointment-button {
  background-color: #F47B64;
  color: white;
  letter-spacing: 1px;
  font-size: 17px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.hero-text h2 {
  font-weight: 700;
  color: #444444;
  font-size: 35px;
  margin-bottom: 40px;
}

.appointment-button:hover {
  color: #d8d8d8;
}

.jumbotron-hero h3 {
  color: #fff;
  font-weight: 700;
  font-size: 28px;
}

.footer {
  background-color: #F8F8F8;
  height: 120px;
  margin-top: 60px;
}

.footer h4 {
  color: #555555;
  text-align: center;
  padding-top: 80px;
}

.devise-label {
  color: #444444;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.devise-header {
  font-family: sans-serif;
  color: #444444;
  font-weight: 600;
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

.alert {
  width: 79%;
  margin: 20px auto;
}

#error_explanation {
  background-color: #FF4136;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 20px;
}

#error_explanation h2 {
  text-align: center;
  color: #fff;
  font-size: 23px;
  text-transform: capitalize;
}

#error_explanation ul {
  padding-left: 60px;
}

#error_explanation li {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}