@import "bootstrap-sprockets";
@import "bootswatch/lumen/variables";
@import "bootstrap";
@import "bootswatch/lumen/bootswatch";

@media (max-width: 768px) {
  .disease-nested input {
    margin: 15px 0;
  }
}

@media (min-width: 769px) {
  .nested-fields {
    margin-bottom: 20px;
  }

  a.btn.btn-danger.btn-xs.remove-nested {
    margin-top: 25px;
  }

  a.btn.btn-success.btn-xs.add_fields {
    margin-bottom: 30px;
  }

  .disease-nested .row {
    margin: 15px 0 0 0;
  }

  .disease-nested .col-sm-12.col-md-4.col-lg-4 {
    padding-left: 0;
  }

  .client-show {
    font-size: 15px;
    padding: 25px;
  }

  .show-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .delete-client {
    width: 80%;
    margin: 40px auto;
  }

  .index-table {
    width: 50%;
    margin: 20px auto;
  }
}

@media (min-width: 768px) and (max-width: 775px) {

  .panel.panel-success {
    margin-top: 20px !important;
    width: 100%;
    margin: 0 auto;
  }

  .panel-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .button-center {
    width: 100%;
    margin: 20px auto;
  }

  .complaint-padding {
    padding-left: 29px;
  }

  #client_alcohol_type {
    width: 148px;
  }
}

@media (min-width: 950px) and (max-width: 1113px) {

  .panel.panel-success {
    margin-top: 20px !important;
    width: 100%;
    margin: 0 auto;
  }

  .panel-wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .button-center {
    width: 100%;
    margin: 20px auto;
  }

  .complaint-padding {
    padding-left: 29px;
  }
}

@media (min-width: 1114px) {

  .panel.panel-success {
    width: 80%;
    margin: 0 auto;
  }

  .panel-wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .button-center {
    width: 80%;
    margin: 20px auto;
  }

  .complaint-padding {
    padding-left: 29px;
  }
}

/****** Global Styles ******/
.year, .month, .day {
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  padding: 7px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.month  {
  width: 99px;
}

.legend-subtext {
  font-size: 14px;
}

.grey-header {
  text-transform: uppercase;
  font-weight: 700;
  color: #999999;
  font-size: 17px;
}

.number-grey {
  color: #999999;
  font-weight: 700;
}

.complaint-margin {
  margin-bottom: 10px;
}

.alert {
  margin-top: 20px;
}

.alert.alert-dismissible.alert-danger h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.alert.alert-dismissible.alert-danger ol {
  width: 460px;
  margin: 0 auto;
  font-size: 16px;
}

.panel.panel-success {
    margin-top: 20px;
}

.panel label {
  color: #999999;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  display: block;
}
