@import "bootstrap-sprockets";
@import "bootswatch/lumen/variables";
@import "bootstrap";
@import "bootswatch/lumen/bootswatch";

@media (max-width: 768px) {
  .disease-nested input {
    margin: 15px 0;
}

}
/*@media (min-width: 768px) {

  .panel-body {
    padding: 15px 30px;
  }
  
  .form-inline .form-group input {
    margin-right: 10px;
  }

  .stacked-inputs {
    margin: 10px 0;
  }

  .form-blocks {
    margin-bottom: 40px;
  }

  select {
    margin-right: 10px;
  }

  #client_middle_initial {
    width: 102px;
  }

  #client_address {
    width: 225px;
  }

  #client_city, #client_zip {
    width: 129px;
  }

  #client_state {
    width: 105px;
  }

  #client_date_of_birth {
    width: 160px;
  }

  #client_physician {
    width: 293px;
  }

  #client_referred_by {
    width: 200px;
  } 

  #client_first_name, #client_last_name {
    width: 250px;
  }

  #client_emergency_contact_name, #client_emergency_contact_phone {
    width: 200px;
  }

  #client_exercise_frequency, #client_exercise_type, #client_breakfast, #client_lunch, #client_dinner, #client_snack {
    width: 300px;
  }

  #client_smoking_habit, #client_smoking_substance, #client_years_smoker, #client_year_quit {
    width: 235px;
  }

  #client_complaints_attributes_0_symptom, .symptom-nested, .hospitalization-nested, .surgery-nested {
    width: 240px !important;
  }

  #client_complaints_attributes_0_diagnosis, .diagnosis-nested {
    width: 243px !important;
  }
  
  #client_complaints_attributes_0_alleviated_by, #client_complaints_attributes_0_aggravated_by {
    width: 182px;
  }

  .alleviated-nested, .aggravated-nested {
    width: 182px !important;
  }

  #client_complaints_attributes_0_inhibited_activity, #client_complaints_attributes_0_treatment {
    width: 310px;
  }

  .inhibited-nested, .treatment-nested {
    width: 310px !important;
  }

  .allergy-nested {
    width: 200px !important;
  }


  .disease-nested .form-control {
    width: 210px;
  }

  .panel-info {
    margin: 20px 40px;
  }
  
} */

@media (min-width: 769px) {
  .nested-fields {
    margin-bottom: 20px;
  }

  a.btn.btn-danger.btn-xs.remove-nested.remove_fields.existing {
    margin-top: 22px;
  }

  a.btn.btn-success.btn-xs.add_fields {
    margin-bottom: 30px;
  }

  .disease-nested .row {
    margin: 15px 0 0 0;
  }

  .disease-nested .col-sm-12.col-md-4.col-lg-4 {
    padding-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 775px) {

  .panel.panel-success {
    margin-top: 20px !important;
    width: 100%;
    margin: 0 auto;
  }

  .panel-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .button-center {
    width: 100%;
    margin: 20px auto;
  }

  .complaint-padding {
    padding-left: 29px;
  }

  #client_alcohol_type {
    width: 148px;
  }
}

@media (min-width: 950px) and (max-width: 1113px) {

  .panel.panel-success {
    margin-top: 20px !important;
    width: 100%;
    margin: 0 auto;
  }

  .panel-wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .button-center {
    width: 100%;
    margin: 20px auto;
  }

  .complaint-padding {
    padding-left: 29px;
  }
}

@media (min-width: 1114px) {

  .panel.panel-success {
    width: 80%;
    margin: 0 auto;
  }

  .panel-wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .button-center {
    width: 80%;
    margin: 20px auto;
  }

  .complaint-padding {
    padding-left: 29px;
  }
}

/****** Global Styles ******/
.year, .month, .day {
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  padding: 7px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.month  {
  width: 99px;
}

.legend-subtext {
  font-size: 14px;
}

.grey-header {
  text-transform: uppercase;
  font-weight: 700;
  color: #999999;
  font-size: 17px;
}

.number-grey {
  color: #999999;
  font-weight: 700;
}

.complaint-margin {
  margin-bottom: 10px;
}

.alert {
  margin-top: 20px;
}

.alert.alert-dismissible.alert-danger h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.alert.alert-dismissible.alert-danger ol {
  width: 460px;
  margin: 0 auto;
  font-size: 16px;
}

.panel.panel-success {
    margin-top: 20px;
}

.panel label {
  color: #999999;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  display: block;
}
