@import "bootstrap-sprockets";
@import "bootswatch/lumen/variables";
@import "bootstrap";
@import "bootswatch/lumen/bootswatch";

@media (min-width: 768px) {

  .panel-body {
    padding: 15px 30px;
  }
  
  .form-inline .form-group input {
    margin-right: 10px;
  }

  .stacked-inputs {
    margin: 10px 0;
  }

  .form-blocks {
    margin-bottom: 40px;
  }

  select {
    margin-right: 10px;
  }

  #client_middle_initial {
    width: 102px;
  }

  #client_address {
    width: 225px;
  }

  #client_city, #client_zip {
    width: 129px;
  }

  #client_state {
    width: 105px;
  }

  #client_date_of_birth {
    width: 160px;
  }

  #client_physician {
    width: 293px;
  }
  
  #client_referred_by {
    width: 200px;
  } 


  #client_emergency_contact_name, #client_emergency_contact_phone {
    width: 200px;
  }

  #client_first_name, #client_last_name, #client_exercise_frequency, #client_exercise_type, #client_breakfast, #client_lunch, #client_dinner, #client_snack {
    width: 300px;
  }

  #client_smoking_habit, #client_smoking_substance, #client_years_smoker, #client_year_quit {
    width: 235px;
  }

  #client_complaints_attributes_0_symptom {
    width: 240px;
  }

  #client_complaints_attributes_0_diagnosis {
    width: 243px;
  }
  
  #client_complaints_attributes_0_alleviated_by, #client_complaints_attributes_0_aggravated_by {
    width: 182px;
  }

  #client_complaints_attributes_0_inhibited_activity, #client_complaints_attributes_0_treatment {
    width: 310px;
  }
  .label-margin {
    margin-right: 10px;
  }
}


/****** Global Styles ******/
.year, .month, .day {
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  padding: 7px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.month  {
  width: 99px;
}
